<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.alejandrachirinos.therealcupid">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.hardware.Camera"
        android:required="true" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ContactUsActivity"
            android:label="Contact Us"></activity>
        <activity android:name="app.horses.camera.ui.activity.TakeActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/barlogin" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/menu" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/barregister" />
        <activity
            android:name=".ContactsActivity"
            android:label="@string/contacts" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/profile" />
        <activity
            android:name=".ChatActivity"
            android:label="@string/chat" />
        <activity
            android:name=".WRUInterestedActivity"
            android:label="Interests" />
        <activity
            android:name=".InicioActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"></meta-data>
        </provider>
    </application>

</manifest>